<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top d-flex">
            <nav class="footer__nav nav d-flex">
                <ul class="footer__menu menu d-flex">
                    <li class="menu__item">
                        <a href="#" class="menu__link">Кухни</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Производство</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Умные решения</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Доставка и монтаж</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Оплата</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__contacts d-flex">
                <p class="footer__city city">Санкт-Петербург</p>
                <a href="#" class="footer__phone phone">+7(812)319-36-65</a>
            </div>
            <a href="#" class="footer__btn btn btn-bg btn-bg-blue">Пригласить Дизайнера</a>
        </div>
        <div class="footer__bottom d-flex">
            <p class="footer__copy">© 2020 RUBICA</p>
            <a href="#" class="footer__policy">Политика обработки данных и публичная оферта</a>
            <ul class="footer__payment payment-list">
                <li class="payment-list__element">
                    <img src="" alt="" class="payment-list__image">
                </li>
                <li class="payment-list__element">
                    <img src="" alt="" class="payment-list__image">
                </li>
                <li class="payment-list__element">
                    <img src="" alt="" class="payment-list__image">
                </li>
                <li class="payment-list__element">
                    <img src="" alt="" class="payment-list__image">
                </li>
            </ul>
        </div>
    </div>
</footer>
</div>

<!--popup-->
<div class="popup-container">
    <div class="popup">
        <button class="popup__close-btn"></button>
        <form class="form">
            <h3 class="popup__title form__title">Обратный звонок</h3>
            <div class="popup__grid form__grid row d-flex wrap">
                <div class="form__group form__group_large col">
                    <input type="text" class="form__element form__input" placeholder="Представьтесь (необязательно)">
                </div>
                <div class="form__group form__group_large col">
                    <input type="tel" class="form__element form__input" placeholder="Контактный телефон">
                </div>
                <div class="form__group form__group_large col">
                    <input type="text" class="form__element form__input" placeholder="Удобное время для звонка">
                </div>
            </div>
            <button type="submit" class="popup__send-btn form__btn btn btn-bg btn-bg-blue">Перезвоните мне</button>
            <p class="form__term term">Нажимая кнопку «Перезвоните мне», вы соглашаетесь с <a href="#" class="term__link">Политикой конфиденциальности</a></p>
        </form>
    </div>
</div>


<script src="js/main.js"></script>
</body>

</html>
